#title{

    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: rgb(52, 221, 29);
    font-size: 40px;

}

#park{
 font-size: 13px;        
 font-weight: bold;
}

.Thumbnail img{
    
    width: 100%;
    height: auto;
    display: block;
}

.search_input {
	color: black;
}